<% provide(:title, "Log in") %>

<div class="login-container">
  <div class="row">
    <div class="col-md-4 left-pane">
      <%= image_tag("procore_logo.png", :alt => "Procore Logo", height: "30") %>
      
      <%= render "shared/new_session_form" %>

      <p>New user? <%= link_to "Sign up now!", signup_path %></p>
    </div>
  </div>
</div>
