<% provide(:button_text, 'Edit') %>
<% provide(:title, @learning_resource.title) %>
<h1 class="page-header">Edit Learning Resource</h1>
<%= render 'form' %>

<!-- SIDEBAR CONTENT -->
<% content_for :sidebar do %>
  <ul class="nav nav-pills">

  </ul>
<% end %>
