<% provide(:title, @user.profile_name) %>
<div class="row">
  <aside class="col-md-4">
    <section class="user_info">
      <h1>
        <%= image_tag @user.picture, class: "img-responsive" %>
        <%= @user.profile_name %>
      </h1>
    </section>
  </aside>
  <div class="col-md-8 user_integrations">
    <% if @user.integrations.any? %>
      <h3>Integrations (<%= @user.integrations.count %>)</h3>
      <ol>
        <%= render @integrations %>
      </ol>
    <% end %>
  </div>
</div>
