<div class="user_home_image">
  <%= link_to current_user do %>
    <%= image_tag current_user.picture %>
  <% end %>
</div>
<h1><%= current_user.profile_name %></h1>
<span><%= link_to "view my profile", current_user %></span>
