<% provide(:title, "Integrations") %>
<!-- Main Page Content -->
<h1 class="page-header">Integraions</h1>

<div class="row">
  <% @integrations.each do |i| %>
    <div class="col-md-3 app-single">
      <%= link_to integration_path(i) do %>
        <%= image_tag(i.picture.url, :class => "img-responsive integration_tabs") %>
      <% end %>
    </div>
  <% end %>
</div>


<!-- SIDEBAR CONTENT -->
<% content_for :sidebar do %>
  <ul class="nav nav-pills nav-stacked">
    <li><%= link_to "New Integraion", new_integration_path %></li>
  </ul>
  <h6><%= link_to "Integration Settings", integration_types_path %></h6>
<% end %>
