<h1 class="page-header">SI Integraions</h1>
<%= link_to "Create New Integration", new_integration_path, class: "btn btn-default" %>

<div class="row">
  <% @integrations.each do |i| %>
    <div class="col-md-3 app-single">
      <%= link_to integration_path(i) do %>
        <%= image_tag(i.picture.url, :class => "img-responsive integration_tabs") %>
      <% end %>
    </div>
  <% end %>
</div>
