// Place all the styles related to the Integrations controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.app-single {
  align-items: center;
  align-self: flex-start;
}

.integration_tabs {
  margin: auto;
  width: 135px;
}
