// Place all the styles related to the posts controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/


.post_wrapper {
  border-bottom: 1px solid lightgrey;
  padding: 10px 20px;

  &:hover {
    background-color: rgba(220, 220, 220, 0.3);
  }
}
