<div class="row">
  <div class="col-md-12">
    <footer class="footer">
      <small>Procore Sales Engineering &copy; <%= Time.now.year %></small>
      <nav>
        <ul>
          <li><%= link_to "About", "#" %></li>
          <li><%= link_to "Help",         help_path %></li>
          <li><%= link_to "Contact", "#" %></li>
        </ul>
      </nav>
    </footer>
  </div>
</div>
